# ASR dependencies
whisper
ffmpeg
faster-whisper
fastapi
uvicorn
python-multipart
imageio-ffmpeg

# Silero VAD dependencies
torch>=2.0.0
torchaudio
numpy
sounddevice
requests
python-dotenv

# LangChain & LLM dependencies
langchain-core
langchain-openai
pydantic

# TTS dependencies

